<div class="header">
  <h1>Slack Transcript Viewer</h1>
  <input type='file' (change)="handleZipUpload($event)">

  @if(zs.activeChannel()) {
    <label>Select Log:</label>
    <select (change)="changeChannel($event)">
        @for (channel of zs.archiveInfo()?.channels; track channel.channelName) {
            <option [selected]="channel.channelName == zs.activeChannel()?.channelName">{{channel.channelName}}</option>
        }
    </select>
  }

</div>



@if(zs.activeChannel()) {

  <div class="transcript">

  <h2>{{zs.activeChannel()?.channelName | titlecase }} Transcript <span class="date">({{zs.archiveStartDate() | date:'shortDate'}} - {{zs.archiveEndDate() | date:'shortDate'}})</span></h2>
  

    @for (message of zs.activeChannel()?.messages?.messages; track message.timeStamp) {
      <app-message [message]="message" [files]="zs.activeChannel()?.files"></app-message>
    }
  

</div>

}