:host {
    font-family: "Noto Serif", courier;
    display: block;
}

.header {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;

    h1 {
        font-size: 16px;
        font-weight: bold;
        margin-right: 20px;
    }

    label {
        margin-left: 20px;
        margin-right: 10px;
        font-size: 14px;
    }
}

.log {
    margin: .4in .4in;
}


h2 {
    font-size: 22px;
    margin-top: 0;

    span.date {
        font-weight: regular;
        margin-left: 5px;
        font-size: 16px;
    }
}

.transcript {
    padding: 10px;
}



@media print {
    .header {
      display: none !important;
    }
}